/*
**********************************************************
*** =============== >>> - SECTION - <<< ============== ***
**********************************************************
*/

.agenda_position {
  grid-template-areas: 'heading heading heading heading'
                        'subtitle subtitle subtitle subtitle'
                        'paragraph paragraph paragraph paragraph'
                        'select select select select';
  margin: 100px auto 45px;
}
@media only screen and (min-width: 480px) {
  .agenda_position {
    grid-template-areas: 'heading heading heading heading heading heading'
                        'subtitle subtitle subtitle subtitle subtitle subtitle'
                        '. paragraph paragraph paragraph paragraph .'
                        'select select select select select select';
  }
}
@media only screen and (min-width: 640px) {
  .agenda_position {
    grid-template-areas: 'heading heading heading heading heading heading heading heading'
                        'subtitle subtitle subtitle subtitle subtitle subtitle subtitle subtitle'
                        '. . paragraph paragraph paragraph paragraph . .'
                        'select select select select select select select select';
  }
}
@media only screen and (min-width: 960px) {
  .agenda_position {
    grid-template-areas: 'heading heading heading heading heading heading heading heading heading heading heading heading'
                        'subtitle subtitle subtitle subtitle subtitle subtitle subtitle subtitle subtitle subtitle subtitle subtitle'
                        '. . paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph . .'
                        'select select select select select select select select select select select select';
  margin: 155px auto 40px;
  }
}

.agenda_size {
  width: 300px;
}
@media only screen and (min-width: 480px) {
  .agenda_size {
    width: 460px;
  }
}
@media only screen and (min-width: 640px) {
  .agenda_size {
    width: 620px;
  }
}
@media only screen and (min-width: 960px) {
  .agenda_size {
    width: 920px;
  }
}
@media only screen and (min-width: 1200px) {
  .agenda_size {
    width: 1160px;
  }
}




/*
**********************************************************
*** =============== >>> - HEADING - <<< ============== ***
**********************************************************
*/
.agenda__heading {
  grid-area: heading;
}

.agenda__heading_style {
  color: var(--main);
  text-align: center;
}

.agenda__heading_position {
  margin: 0;
}



/*
**********************************************************
*** ============== >>> - SUBTITLE - <<< ============== ***
**********************************************************
*/
.agenda__subtitle {
  grid-area: subtitle;
}

.agenda__subtitle_style {
  color: var(--white);
  text-align: center;
}

.agenda__subtitle_position {
  margin: 0;
}



/*
**********************************************************
*** ============== >>> - PARAGRAPH - <<< ============= ***
**********************************************************
*/
.agenda__paragraph {
  grid-area: paragraph;
}

.agenda__paragraph_style {
  color: var(--white);
  text-align: center;
}

.agenda__paragraph_size {
  margin: 10px 0 30px 0;
}
@media only screen and (min-width: 960px) {
  .agenda__paragraph_size {
    margin: 30px 0;
  }
}



/*
**********************************************************
*** =============== >>> - OPTION - <<< =============== ***
**********************************************************
*/

.tabs {
  display: none;
}
@media only screen and (min-width: 960px) {
  .tabs {
    display: flex;
    grid-area: select;
  }
}

.tabs_position {
  margin: 0;
}

.tabs_size {
  padding: 0;
}

.tabs_style {
  list-style-type: none;
}

.tabs__items {
  display: block;
}

.tabs__items_size {
  height: 54px;
  width: 310px;
  line-height: 55px;
  box-sizing: border-box;
}
@media only screen and (min-width: 1200px) {
  .tabs__items_size {
    width: 387px;
  }
}

.tabs__text_style {
  background-color: transparent;
  text-align: center;
  color: var(--white);
  border: 1px solid var(--white);
}

.tabs__input_style {
  display: none;
}

input:checked + label {
    color: var(--black);
    border: 1px solid var(--main);
    box-sizing: border-box;
    background-color: var(--main);
}

.tabs-mobile {
  grid-area: select;
}

.tabs-mobile_size {
  height: 55px;
  width: 300px;
  padding: 0 8px;
}
@media only screen and (min-width: 480px) {
  .tabs-mobile_size {
    width: 460px;
    text-align-last: center;
  }
}
@media only screen and (min-width: 640px) {
  .tabs-mobile_size {
    width: 620px;
  }
}
@media only screen and (min-width: 960px) {
  .tabs-mobile_size {
    display: none;
  }
}


.tabs-mobile_style {
  background-color: var(--main);
  font-weight: 800;
}

.tabs-mobile__option_style {
  border: 1px solid var(--main);
  background-color: var(--black);
  color: var(--white);
}
