/*
**********************************************************
*** =============== >>> - SECTION - <<< ============== ***
**********************************************************
*/

.career {
  grid-area: career;
}

.career_position {
  margin: 25px 0;
}




/*
**********************************************************
*** =============== >>> - HEADING - <<< ============== ***
**********************************************************
*/

.career__heading_style {
  color: var(--white);
  text-align: center;
}

.career__heading_position {
  margin: 0;
}




/*
**********************************************************
*** ============== >>> - PARAGRAPH - <<< ============= ***
**********************************************************
*/
.career__paragraph_style {
  color: var(--white);
  text-align: center;
}

.career__paragraph_size {
  width: 300px;
}
@media only screen and (min-width: 480px) {
  .career__paragraph_size {
    width: 460px;
  }
}
@media only screen and (min-width: 960px) {
  .career__paragraph_size {
    width: 624px;
  }
}

.career__paragraph_position {
  margin: 0 auto 30px;
}
@media only screen and (min-width: 960px) {
  .career__paragraph_position {
    margin: 0 auto 50px;
  }
  }
  @media only screen and (min-width: 1920px) {
  .career__paragraph_position {
    margin: 0 auto 92px;
  }
}



/*
**********************************************************
*** ================ >>> - LIST - <<< ================ ***
**********************************************************
*/


.grid-list-item {
  display: grid;
  grid-gap: 3px 10px;
  grid-template-columns: repeat(4, 60px);
  margin: 0;
  grid-auto-rows: auto;
}
@media only screen and (min-width: 480px) {
  .grid-list-item {
    grid-template-columns: repeat(6, 60px);
  }
}
@media only screen and (min-width: 640px) {
  .grid-list-item {
    grid-template-columns: repeat(8, 60px);
  }
}
@media only screen and (min-width: 960px) {
  .grid-list-item {
    grid-template-columns: repeat(12, 60px);
  }
}
@media only screen and (min-width: 1200px) {
  .grid-list-item {
    grid-gap: 0px 40px;
  }
}
@media only screen and (min-width: 1920px) {
  .grid-list-item {
    grid-template-columns: repeat(12, 37px);
  }
}


.list_size {
  width: 300px;
  margin: 0 auto;
}
@media only screen and (min-width: 480px) {
  .list_size {
    width: 460px;
  }
}
@media only screen and (min-width: 960px) {
  .list_size {
    width: 920px;
  }
}
@media only screen and (min-width: 1200px) {
  .list_size {
    width: 1100px;
  }
}
@media only screen and (min-width: 1920px) {
  .list_size {
    width: 950px;
  }
}

.list-career_style {
  margin: 0;
  padding: 0 10px;
  list-style-type: none;
  border-left: 1px solid var(--white);
  border-right: 1px solid var(--white);
  border-bottom: 1px solid var(--white);
}
@media only screen and (min-width: 960px) {
  .list-career_style {
    padding: 0 30px;
  }
}



/*
**********************************************************
*** ============ >>> - LIST HEADING - <<< ============ ***
**********************************************************
*/

.list__heading_style {
  color: var(--black);
  background-color: var(--main);
  text-align: center;
}
@media only screen and (min-width: 960px) {
  .list__heading_style {
    line-height: 68px;
  }
}

.list__heading_position {
  margin: 0;
}

@media only screen and (min-width: 1920px) {
  .list__heading_size {
    width: 1900px;
  }
}




/*
**********************************************************
*** ============= >>> - LIST ITEM - <<< ============== ***
**********************************************************
*/

.list__item_position {
  grid-template-areas: 'img img data data'
                        'img img author author'
                        'img img paragraph paragraph'
                        'logo logo btn btn'
                        '. . calendar calendar';
   margin: 0 0 20px 0;
}
@media only screen and (min-width: 480px) {
  .list__item_position {
    grid-template-areas: 'img img img data data data'
                        'img img img author author author'
                        'img img img paragraph paragraph paragraph'
                        'logo logo logo btn btn btn'
                        '. . . calendar calendar calendar';
  }
}
@media only screen and (min-width: 960px) {
  .list__item_position {
    grid-template-areas: 'data data data img img img paragraph paragraph paragraph paragraph paragraph .'
                          'author author author img img img paragraph paragraph paragraph paragraph paragraph .'
                          'logo logo logo img img img btn btn . calendar calendar .';
      margin: 0 0 40px 0;
  }
}
@media only screen and (min-width: 1200px) {
  .list__item_position {
        grid-template-areas: 'data data data img img img paragraph paragraph paragraph paragraph paragraph .'
                          'author author author img img img paragraph paragraph paragraph paragraph paragraph .'
                          'logo logo logo img img img btn btn  calendar calendar . .';
  }
  .list__item-qa_position {
    grid-template-areas: 'data data data . . . paragraph paragraph paragraph paragraph paragraph .'
                          'data data data . . . paragraph paragraph paragraph paragraph paragraph .';
  }
}
@media only screen and (min-width: 1920px) {
  .list__item_position {
    grid-template-areas: 'data data data img img img paragraph paragraph paragraph paragraph paragraph paragraph'
                          'author author author img img img paragraph paragraph paragraph paragraph paragraph paragraph'
                          'logo logo logo img img img btn btn . calendar calendar .';
  }
}

.list__item-qa_position {
  grid-template-areas: '. . data data'
                        '. . paragraph paragraph';
  margin: 0 0 20px 0;
}
@media only screen and (min-width: 480px) {
  .list__item-qa_position {
    grid-template-areas: '. . . data data data'
                        '. . . paragraph paragraph paragraph';
  }
}
@media only screen and (min-width: 960px) {
  .list__item-qa_position {
    grid-template-areas: 'data data data img img img paragraph paragraph paragraph paragraph paragraph .'
                          'author author author img img img paragraph paragraph paragraph paragraph paragraph .';
      margin: 40px 0;
  }
}
@media only screen and (min-width: 1200px) {
  .list__item-qa_position {
    grid-template-areas: 'data data data . . . paragraph paragraph paragraph paragraph paragraph .'
                          'data data data . . . paragraph paragraph paragraph paragraph paragraph .';
  }
}

.list__item_style {
  border-bottom: 1px solid rgba(255, 255, 255, .2);
  padding: 20px 0 20px 0;
}
@media only screen and (min-width: 960px) {
  .list__item_style {
    padding: 0 0 25px 0;
  }
}




/*
**********************************************************
*** ============= >>> - LIST IMAGE - <<< ============= ***
**********************************************************
*/

.list__item-img {
  grid-area: img;
}

.list__item-img_size {
  width: 100px;
  height: 100px;
}
@media only screen and (min-width: 960px) {
  .list__item-img_size {
    width: 150px;
    height: 150px;
  }
}

.list__item-img_position {
  margin: 0;
}
@media only screen and (min-width: 960px) {
  .list__item-img_position {
    align-self: end;
  }
}





/*
**********************************************************
*** ============== >>> - LIST LOGO - <<< ============= ***
**********************************************************
*/

.list__item-logo {
  grid-area: logo;
}

.list__item-logo_size {
  width: 100px;
  height: 40px;
}
@media only screen and (min-width: 960px) {
  .list__item-logo_size {
    width: 150px;
    height: 60px;
  }
}




/*
**********************************************************
*** ============== >>> - LIST DATA - <<< ============= ***
**********************************************************
*/

.list__item-data {
  grid-area: data;
}

.list__item-data_style {
  color: var(--main);
}

@media only screen and (min-width: 960px) {
  .list__item-data_position {
    align-self: center;
  }
}




/*
**********************************************************
*** ============= >>> - LIST AUTHOR - <<< ============ ***
**********************************************************
*/
.list__item-author {
  grid-area: author;
}

.list__item-author_style {
  color: var(--white);
}




/*
**********************************************************
*** =========== >>> - LIST PARAGRAPH - <<< =========== ***
**********************************************************
*/

.list__item-paragraph {
  grid-area: paragraph;
}

.list__item-paragraph_style {
  color: var(--white);
}

.list__item-qa-paragraph_position {
  margin: 0;
}



/*
**********************************************************
*** ============== >>> - LIST BTN - <<< ============== ***
**********************************************************
*/


.list__item-btn {
  grid-area: btn;
}

.list__item-btn_style {
  color: var(--black);
  background-color: var(--main);
  border: 2px solid var(--main);
}

.list__item-btn_size {
  width: 140px;
  height: 30px;
}
@media only screen and (min-width: 960px) {
  .list__item-btn_size {
    width: 160px;
    height: 40px;
  }
}

.list__item-btn_position {

}
@media only screen and (min-width: 960px) {
  .list__item-btn_position {
    align-self: end;
  }
}





/*
**********************************************************
*** ============= >>> - LIST BTN_2 - <<< ============= ***
**********************************************************
*/

.list__item-calendar {
  grid-area: calendar;
}

.list__item-calendar_style {
  color: var(--white);
  background-color: transparent;
  border: 2px solid var(--white);
}

.list__item-calendar_size {
  width: 140px;
  height: 30px;
}
@media only screen and (min-width: 960px) {
  .list__item-calendar_size {
    width: 160px;
    height: 40px;
  }
}

.list__item-calendar_position {

}
@media only screen and (min-width: 960px) {
  .list__item-calendar_position {
    align-self: end;
  }
}

