.wrapper {
  max-width: 1160px;
  margin: 0 auto;
}

.visually-hidden {
  visibility: hidden;
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
  position: fixed;
}

.grid {
  display: grid;
  grid-gap: 3px 20px;
  grid-template-columns: repeat(4, 60px);
  margin: 0 10px;
  grid-auto-rows: auto;

}
@media only screen and (min-width: 480px) {
  .grid {
    grid-template-columns: repeat(6, 60px);
  }
}
@media only screen and (min-width: 640px) {
  .grid {
    grid-template-columns: repeat(8, 60px);
  }
}
@media only screen and (min-width: 960px) {
  .grid {
    grid-template-columns: repeat(12, 60px);
  }
}
@media only screen and (min-width: 1200px) {
  .grid {
    grid-gap: 6px 40px;
  }
}
