/*
**********************************************************
*** =============== >>> - SECTION - <<< ============== ***
**********************************************************
*/
.title_bkg-img {
  background-image: url(../img/bkg@3.png);
  background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}

.title_position {
  grid-template-areas: 'heading heading heading heading'
                        'img img img img'
                        'btn btn btn btn'
                        'tag . . .'
                        'paragraph paragraph paragraph paragraph'
                        'data data data data';
  padding: 76px 0 0 0;

}
@media only screen and (min-width: 480px) {
  .title_position {
    grid-template-areas: '. heading heading heading heading .'
                        '.img img img img .'
                        '. btn btn btn btn .'
                        'tag . . . . .'
                        'paragraph paragraph paragraph paragraph . .'
                        'data data data data . .';
    }
}
@media only screen and (min-width: 640px) {
  .title_position {
    grid-template-areas: 'heading heading heading heading img img img img'
                        'tag . . . img img img img'
                        'paragraph paragraph paragraph paragraph img img img img'
                        'btn btn btn btn img img img img'
                        'data data data data data data data data';
    }
}
@media only screen and (min-width: 960px) {
  .title_position {
    grid-template-areas: 'heading heading heading heading heading heading img img img img img img'
                        'tag . . . . . img img img img img img'
                        'paragraph paragraph paragraph paragraph . . img img img img img img'
                        'btn btn btn btn . . img img img img img img'
                        'data data data data data data data data data data data data';
    padding: 176px 0 0 0;
    }
}

.title_size {
  width: 300px;
  margin: 0 auto;
}
@media only screen and (min-width: 480px) {
  .title_size {
    width: 460px;
  }
}
@media only screen and (min-width: 640px) {
  .title_size {
    width: 620px;
  }
}
@media only screen and (min-width: 960px) {
  .title_size {
    width: 920px;
  }
}
@media only screen and (min-width: 1200px) {
  .title_size {
    width: 1200px;
  }
}



/*
**********************************************************
*** =============== >>> - HEADING - <<< ============== ***
**********************************************************
*/
.title__heading {
  grid-area: heading;
}

.title__heading_style {
  color: var(--main);
}

.title__heading_position {
  margin: 0;
}
@media only screen and (min-width: 768px) {
  .title__heading_position {
    align-self: center;
  }
}


/*
**********************************************************
*** ================ >>> - IMAGE - <<< =============== ***
**********************************************************
*/
.title__img {
  grid-area: img;
}

.title__img_size {
  height: 330px;
  width: 285px;
}
@media only screen and (min-width: 960px) {
  .title__img_size {
    height: 518px;
    width: 436px;
  }
}
@media only screen and (min-width: 1200px) {
  .title__img_size {
    height: 618px;
    width: 536px;
  }
}

.title__img_position {
  margin: 0;
}



/*
**********************************************************
*** ================ >>> - BUTTON - <<< ============== ***
**********************************************************
*/
.title__btn {
  grid-area: btn;
}

.title__btn_size {
  width: 300px;
  height: 55px;
}

.title__btn_style {
  background-color: var(--white);
  border: none;
}

.title__btn_position {
  margin: 0 0 24px 0;
}


/*
**********************************************************
*** ================= >>> - TAG - <<< ================ ***
**********************************************************
*/
.title__tag {
  grid-area: tag;
}

.title__tag_style {
  color: var(--white);
  opacity: .5;
}

.title__tag_size {
  align-self:end;
}


/*
**********************************************************
*** ============== >>> - PARAGRAPH - <<< ============= ***
**********************************************************
*/
.title__paragraph {
  grid-area: paragraph;
}

.title__paragraph_style {
  color: var(--main);
}

.title__text_style {
  color: var(--white);
  opacity: .5
}

.title__text_position {
  margin: 0;
}



/*
**********************************************************
*** ================= >>> - DATA - <<< =============== ***
**********************************************************
*/
.title__data {
  grid-area: data;
}

.title__data_style {
  color: var(--main);
  border: 1px solid var(--main);
  text-align: center;
}

.title__data_position {
  margin: 25px 0;
}
@media only screen and (min-width: 768px) {
  .title__data_position {
    margin: 0;
  }
}

.title__data_size {
  height: 37px;
  line-height: 37px;
}
@media only screen and (min-width: 768px) {
  .title__data_size {
    height: 66px;
    line-height: 66px;
  }
}
